@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background: url('../assets/fondofantasma.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: row;
    height: 85vh;
    justify-content: center;
    align-items: center;
}

.header span {
    width: 70%;
    color: var(--primario-1, #E7F8F7);
    text-align: center;
    font-family: Fira Mono;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    /* position: sticky;
    top: 0;
    background-color: transparent; */
}

.negrita {
    font-weight: bold;
    display: inline;
}

.fantasma_content {
    display: flex;
    flex-direction: column;
}

.texto {
    display: flex;
    flex-direction: column;
    gap: 5vh;
    margin: 15vh;
}

.fantasma_content p {
    color: var(--primario-1, #161616);
    text-align: center;
    font-family: Fira Sans;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-shadow: 0px 1px 1px rgba(0,0,0,0.5);
}

.video {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 800px;
    margin: 0 auto;
    gap: 1vh;
}

.titulovideo {
    align-self: flex-start;
    font-family: Fira Sans;
    font-size: 1.625rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: var(--primario-7, #164948);
}

.reproductor {
    border-radius: 24px;
}

.btn {
    margin-top: 5vh;
    cursor: pointer;
    text-decoration: none;
}

.btn h4 {
    color: var(--neutro-7, #121212);
    text-align: center;
    font-family: Fira Sans;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}