@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.landing {
    /* background-image: url('../assets/rectangle-25.png'); */
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing h1 {
    font-family: Fira Sans;
    font-size: 5vh;
    font-weight: 300;
    color: #34ABA7;
    text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.63);
    letter-spacing: .1vw;
}

.header {
    display: flex;
    flex-direction: column;
    height: 85vh;
    justify-content: center;
    align-items: center;
    gap: 6vh;
}

.header span {
    width: 70%;
    color: #161616  ;
    text-align: center;
    font-family: Fira Mono;
    font-size: 2.7vh;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.header h4 {
    width: 70%;
    color: #161616;
    text-align: center;
    font-family: Fira Mono;
    font-size: 2.7vh;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    gap: .6vw;
    justify-content: end;
    margin-right: 4vw;
}

.negrita {
    font-weight: bold;
    display: inline;
}

.fantasma_content {
    display: flex;
    flex-direction: column;
}

.texto {
    display: flex;
    flex-direction: column;
    gap: 5vh;
    margin-bottom: 15vh;
    padding: 10vh 15vw;
    background: var(--primario-6, #4C9A97);
    width: 100%;
}

.fantasma_content p {
    color: var(--primario-1, #F8F8F8);
    text-align: center;
    font-family: Fira Sans;
    font-size: 2.9vh;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: .1vw;
}

/* .fantasma_content span {
    background: var(--primario-6, #4C9A97);
    margin-top: 12vh;
    width: 98.9vw;
    padding: 10vh 0;
} */

.video {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 800px;
    margin: 0 auto;
    gap: 1vh;
}

.titulovideo {
    align-self: flex-start;
    font-family: Fira Sans;
    font-size: 1.625rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: var(--primario-7, #164948);
}

.video .imagen {
    width: 100%;
    border-radius: 8px;
}

.reproductor {
    border-radius: 24px;
}

.btn {
    margin-top: 5vh;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.btn h4 {
    color: var(--neutro-7, #121212);
    text-align: center;
    font-family: Fira Sans;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.modal {
    display: none;
    height: 100vh;
    width: 100vw;
    background-color: #16726F;
}



@media (max-width: 990px) {

    .header {
        height: 200vh;
    }

    .header span {
        width: 90%;
    }

    .header h4 {
        flex-direction: column;
    }

    .texto {
        padding: 10vh 5vw;
    }

    .video {
        height: 60vh;
    }
}

