@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Laila:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Music&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

.landing_container{
    background: url(../assets/fotodeps-1.png), rgb(0, 0, 0) 50%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: flex;
    flex-direction: row;
    height: 85vh;
    justify-content: space-between;
}

.menu_landing{
    display: flex;
    flex-direction: column;
    margin-top: 8.75rem;
    margin-left: 8.62rem;
    align-items: flex-start;
}

.menu_link{
    font-size: 2.44125rem;
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    color: var(--neutro-7, #fff);
    cursor: pointer;
    text-shadow: 1px 2px 10px rgba(0, 0, 0, 0.6);
}

.menu_link:hover{
    color: #eae9e9;
}



.social{
    width: auto;
    display: flex;
    gap: 1.69rem;
    margin-top: 8.75rem;
    margin-right: 7.12rem;
    justify-content: flex-end;
}

.social_link img{
    width: 3.3125rem;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.4));
}

.name{
    display: flex;
    flex-direction: column;
    margin-right: 12.63rem;
    margin-bottom: 9.06rem;
    align-self: flex-end;
}

.name h1{
    color: #FFF;
    font-size: 3.875rem;
    font-family: 'Noto Music';
    font-style: normal;
    font-weight: 400;
    line-height: 3.75rem;
    text-align: right;
}

.libros_container{
    height: 180vh;
    /* border: 2px solid red; */
    background: url('../assets/moodboard-final-celeste-2.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.titulo_libros{
    display: flex;
    height: 13.9375rem;
    padding: 4.875rem 0rem 4.8125rem 0rem;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background: var(--primario-principal-5, #34ABA7);
}

.titulo_libros h2{
    color: #FFF;
    font-size: 2.44125rem;
    font-family: Fira Sans;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.galeria_container{
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
    gap: 8rem;
}

.galeria{
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
    justify-content: space-evenly;
    align-items: center;
    height: 50%;
    margin: 0 12rem;
    /* border: 2px solid red; */
}

.galeria img{
    height: 18.9375rem;
    width: 11.25rem;
    transition: .8s ease;
}

.galeria img:hover{
    transform: scale(1.5);
    cursor: pointer;
}

.biografia_container{
    height: 120vh;
    /* padding-top: 7.81rem; */
    background: url('../assets/moodboard-final-celeste-2.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow-x: hidden;
    overflow-y: visible;
}

.titulo_biografia{
    display: flex;
    align-items: center;
    gap: .5rem;
    /* padding-right: 7.81rem; */
    margin-bottom: 8.37rem;
    padding-right: 8.95rem;
    /* border: 2px solid black; */
}


.biografia_content{
    display: flex;
    gap: 2.31rem;
    justify-content: center;
    align-items: center;
    margin-top: 17.44rem;
}

.biografia_content h2{
    font-size: 2.44125rem;
    font-family: Fira Sans;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    color: var(--neutro-7, #1f1f1f);
}

.biografia_content img{
    width: 23.75rem;
    height: 24.0625rem;
    
}

.biografia_content p{
    display: flex;
    width: 48.75rem;
    height: 17.875rem;
    flex-direction: column;
    flex-shrink: 0;
    overflow: hidden;
    color: var(--neutro-7, #1f1f1f);
    text-overflow: ellipsis;
    font-size: 1rem;
    font-family: Fira Sans;
    font-style: normal;
    font-weight: 400;
    line-height: 2.1875rem;
    justify-content: center;
}

/* .contacto{
    background: #fff;
    padding: 100px 30px;
} */

.contacto_container{
    background: url('../assets/moodboard-final-celeste-2.png');
    padding-bottom: 8rem;
}

.titulo_contacto{
    display: flex;
    height: 13.9375rem;
    padding: 4.875rem 0rem 4.8125rem 0rem;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background: var(--primario-principal-5, #34ABA7);
}

.titulo_contacto h2{
    color: #FFF;
    font-size: 2.44125rem;
    font-family: Fira Sans;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 8rem;
    width: 60%;
}

.input{
    background: transparent;
    border: 2px solid  #34ABA7;
    /* border-radius: 8px; */
    color: #34ABA7;
    outline: none;
    padding: 20px 10px;
}

.input::placeholder{
    color: #34ABA7;
    font-family: 'Fira Sans';
}

input[type="text"],
input[type="email"]{
    display: inline-block;
    width: 49%;
    margin-bottom: 30px;
}

.form textarea{
    width: 100%;
    margin-bottom: 15px;
}

input[type="submit"]{
    width: 120px;
    text-align: center;
    padding: 14px 0;
    font-family: 'Fira Sans';
}

input[type="submit"]:hover{
    cursor: pointer;
    color: #fff;
    background:#34ABA7;
}

/* .contacto h2{
    margin-left: 50px;
    color: #34ABA7;
    font-family: 'Satoshi';
    font-weight: 400;
} */

footer{
    background-color:#5C5D66;
    height: 18rem;
    padding: 7rem 0;
}

.footer_container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.social_footer{
    border-right: 2px solid #fff;
    padding-right: 40px;
    display: flex;
    justify-content: space-around;
    width: 20%;
}

.social_footer img{
    width: 3.3125rem;
}

.textos_footer{
    padding-left: 40px;
    color: #fff;
    font-family: Laila;
    font-weight: 400;
}
