@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.detalles_container{
    background: #F9F9F9;
    height: auto;
}

.detalles_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.detalles_principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 85vh;
}

.detalles_principal .detalles_titulo{
    text-align: center;
    /* font-style: italic; */
    line-height: normal;
    margin-top: 40vh
}

.detalles_principal .detalles_titulo h2{
    font-weight: 300;
    font-family: Fira Sans;
    font-size: 5.5vh;
    color: var(--primario-6, #257A77);
}

.detalles_principal .detalles_imagen{
    width: 25vw;
    display: flex;
    justify-content: center;
    margin-top: 8vh;
    margin-bottom: 23vh;
    gap: 4vw;
}

.playlist{
    height: 6vh;
    display: flex;
    flex-direction: column;
    gap: 1vh;
    justify-content: center;
    align-items: center;
    margin: 5vh;
    cursor: pointer;
}

.playlist img{
    width: 1.6875rem;
    height: 1.6875rem;
}

.playlist p{
    width: 5.125rem;
    height: 0.625rem;
    font-family: Fira Sans;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #282828;
    text-align: center;
}

.detalles_resenas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.detalles_resenas .detalles_textos{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4vh;
}

.detalles_textos .resena{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 64.375rem;
}

.detalles_textos .resena p{
    color: #000;
    text-align: center;
    font-family: Fira Sans;
    font-size: 1.25rem;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
}

.detalles_textos .resena h3{
    color: #000;
    text-align: center;
    font-family: Fira Sans;
    font-size: 1.25rem;
    font-weight: bold;
    line-height: normal;
}

.sinopsis_container{
    background: var(--primario-6, #257A77);
    margin-top: 6.94rem;
    width: 98.9vw;
    padding: 4.62rem 0;
}

.sinopsis{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 4vh;
    align-items: center;
    width: 64.625rem;
    color: #FFF;
}

.sinopsis h2{
    font-family: Fira Sans;
    font-size: 2.44125rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.sinopsis p{
    text-align: center;
    font-family: Fira Sans;
    font-size: 2.8vh;
    font-style: normal;
    font-weight: lighter;
    line-height: normal;
    letter-spacing: 0.03rem;
    line-height: 1.2;
}

.sinopsis .nominada{
    font-size: 3vh;
    display: flex;
    gap: 0.5vw;
    font-family: Fira Sans;
}

.sinopsis .nominada p{
    font-size: 3vh;
    display: flex;
    gap: 0.5vw;
    font-family: Fira Sans;
    font-style: italic;
}

.disponible{
    display: flex;
    justify-content: center;
    gap: 8vh;
    margin-top: 10vh;
}

.disponible span{
    width: 8.5vw;
    height: 6vh;
    border-radius: 0.9375rem;
    background: var(--primario-6, #16726F);
    display: flex;
    justify-content: center;
    align-items: center;
}

.disponible p{
    width: 70%;
    color: var(--intermedio, #FFF);
    text-align: center;
    font-family: Fira Sans;
    font-size: 2vh;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.nota{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
}

.links{
    margin-top: 8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
}

.links h2{
    font-family: Fira Sans;
    font-size: 5vh;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.links_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5vh;
    margin-bottom: 35vh;
    gap: 4vh;
}

.links a{
    font-family: Fira Sans;
    font-size: 3vh;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    /* text-decoration: none; */
    color: #257A77;
}



footer{
    background-color:#5C5D66;
    height: 18rem;
    padding: 7rem 0;
}

.footer_container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.social_footer{
    border-right: 2px solid #fff;
    padding-right: 40px;
    display: flex;
    justify-content: space-around;
    width: 20%;
}

.social_footer img{
    width: 3.3125rem;
}

.textos_footer{
    padding-left: 40px;
    color: #fff;
    font-family: Laila;
    font-weight: 400;
}