@import url('https://fonts.googleapis.com/css2?family=Anaheim&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Laila:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.detalles_container {
    background: #F9F9F9;
    height: auto;
}

.detalles_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.detalles_principal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1vh 0;
    align-items: center;
    height: 75vh;
    width: 80vw;
    /* border: 2px solid blue; */
}

.detalles_principal .detalles_titulo {
    /* text-align: center; */
    /* line-height: normal; */
    /* margin-top: 3vh */
    /* border: 2px solid blue; */
}

.detalles_principal .detalles_titulo h2 {
    font-weight: 300;
    font-family: Fira Sans;
    font-size: 5.5vh;
    color: var(--primario-6, #257A77);
}

.detalles_principal .detalles_imagen {
    width: 40vw;
    padding-bottom: 4vh;
    display: flex;
    justify-content: center;
    /* margin-top: 8vh; */
    /* margin-bottom: 1vh; */
    gap: 4vw;
    /* border: 2px solid red; */
}

.detalles_principal .detalles_imagen img {
    width: 18vw;
    height: auto;
    box-shadow: 1px 5px 5px 0px rgba(109, 104, 104, 0.75);
    -webkit-box-shadow: 1px 5px 5px 0px rgba(109, 104, 104, 0.75);
    -moz-box-shadow: 1px 5px 5px 0px rgba(109, 104, 104, 0.75);
}

.detalles_principal .detalles_masdetres {
    width: 40vw;
    padding: 4vh 0;
    display: flex;
    flex-wrap: wrap;
    gap: 3vh;
    justify-content: center;
}

.detalles_principal .detalles_masdetres img {
    width: 10vw;
    height: auto;
    box-shadow: 1px 5px 5px 0px rgba(109, 104, 104, 0.75);
    -webkit-box-shadow: 1px 5px 5px 0px rgba(109, 104, 104, 0.75);
    -moz-box-shadow: 1px 5px 5px 0px rgba(109, 104, 104, 0.75);
}

.playlist {
    height: 2vh;
    display: flex;
    flex-direction: column;
    gap: 1vh;
    justify-content: center;
    align-items: center;
    margin: 5vh;
    cursor: pointer;
    /* border: 2px solid red; */
}

.playlist a {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.playlist img {
    width: 2vw;
    height: auto;
}

.playlist p {
    width: 4vw;
    height: auto;
    font-family: Fira Sans;
    font-size: 2.1vh;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #282828;
    text-align: center;
}

.english {
    display: flex;
    align-items: center;
    gap: 3vw;
    /* margin-top: 4vh; */
    width: 70%;
    height: 14vh;
    /* border: 2px solid red; */
}

.english img {
    height: 4vh;
}

.english span {
    height: 4vh;
    width: 5.2vw;
    background-color: #54CBC7;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.english a {
    text-align: center;
    color: var(--intermedio, #FFF);
    font-family: Fira Sans;
    font-size: 2vh;
    text-decoration: none;
}

.btnprologo {
    background: var(--primario-principal-4, #F9F9F9);
    padding: .6vh 1.2vw;
    border: 1px solid #54CBC7;
    border-radius: 0.9375rem;
    margin: 6vh 0;
    transition: background 0.3s ease, color 0.3s ease;
    cursor: pointer;
}

.btnprologo a {
    text-decoration: none;
    color: #54CBC7;
    text-align: center;
    font-family: Fira Sans;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.btnprologo:hover {
    background: var(--primario-principal-4, #54CBC7);
}

.btnprologo:hover a {
    color: #FFF;
}

.detalles_resenas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.detalles_resenas .detalles_textos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4vh;
}

.detalles_textos .resena {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75vw;
}

.detalles_textos .resena p {
    color: #000;
    text-align: center;
    font-family: Fira Sans;
    font-size: 2.4vh;
    font-style: italic;
    font-weight: 300;
    line-height: normal;
}

.detalles_textos .resena h3 {
    color: #000;
    text-align: center;
    font-family: Fira Sans;
    font-size: 2.4vh;
    font-weight: bold;
    line-height: normal;
}

.sinopsis_container {
    background: var(--primario-6, #4C9A97);
    margin-top: 12vh;
    width: 98.9vw;
    padding: 10vh 0;
    /* border: 2px solid blue; */
}

.sinopsis {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 4vh;
    align-items: center;
    width: 70vw;
    color: #FFF;
    /* border: 2px solid red; */
}

.sinopsis h2 {
    font-family: Fira Sans;
    font-size: 5vh;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
}

.sinopsis p {
    text-align: center;
    font-family: Fira Sans;
    font-size: 2.5vh;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: .01vw;
    line-height: 1.2;
}

.sinopsis .nominada {
    font-size: 3vh;
    display: flex;
    gap: 0.5vw;
    font-family: Fira Sans;
}

.sinopsis .nominada {
    font-size: 3vh;
    display: flex;
    gap: 0.5vw;
    font-family: Fira Sans;
    font-weight: 400;
}

.disponible {
    display: flex;
    justify-content: center;
    gap: 8vh;
    margin-top: 10vh;
}

.disponible span {
    width: 8.5vw;
    height: 6vh;
    border: 1px solid #16726F;
    border-radius: 0.9375rem;
    background: var(--primario-6, #F9F9F9);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 0.3s ease, color 0.3s ease;
    cursor: pointer;
}

.disponible p {
    width: 70%;
    color: var(--intermedio, #16726F);
    text-align: center;
    font-family: Fira Sans;
    font-size: 2vh;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.disponible a {
    text-decoration: none;
}

.disponible span:hover {
    background: var(--primario-6, #16726F);
}

.disponible span:hover p {
    color: #FFF;
}

.descarga {
    display: flex;
}

.descarga img {
    width: 2vw;
}

.nota {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
}

.links {
    margin-top: 8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
}

.links h2 {
    font-family: Fira Sans;
    font-size: 5vh;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.links_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5vh;
    margin-bottom: 35vh;
    gap: 4vh;
}

.links a {
    font-family: Fira Sans;
    font-size: 3vh;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    /* text-decoration: none; */
    color: #257A77;
}



footer {
    background-color: #5C5D66;
    height: 18rem;
    padding: 7rem 0;
}

.footer_container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.social_footer {
    border-right: 2px solid #fff;
    padding-right: 40px;
    display: flex;
    justify-content: space-around;
    width: 20%;
}

.social_footer img {
    width: 3.3125rem;
}

.textos_footer {
    padding-left: 40px;
    color: #fff;
    font-family: Laila;
    font-weight: 400;
}

.modal {
    display: none;
    height: 100vh;
    width: 100vw;
    background-color: #16726F;
}



@media (max-width: 990px) {

    .detalles_container {
        display: none;
    }

    .modal {
        display: flex;
        flex-direction: column;
    }

    .name {
        display: flex;
        justify-content: center;margin-top: 20vh;
    }

    .name h1 {
        font-size: 3.6vh;
        color: #fff;
        font-family: Laila;
        font-weight: 400;
    }

    .modal .sign {
        display: flex;
        flex-direction: column;
        gap: 3vh;
        justify-content: center;
        align-items: center;
        margin-top: 25vh;
    }

    .modal .sign h2 {
        font-family: Fira Sans;
        font-weight: 300;
        font-size: 3vh;
        color: #FFF;
        text-align: center;
    }

    .btnvolver {
        font-family: Fira Sans;
        font-weight: 300;
        font-size: 3vh;
        color: #FFF;
        text-align: center;
        margin-top: 15vh;
    }

    .btnvolver a {
        text-decoration: none;
        color: #FFF;
    }
}