*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content{
    background: #F9F9F9;
    height: auto;
}

.principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4vh;
    margin-top: 12vh;
}

.principal h2 {
    font-weight: 300;
    font-family: Fira Sans;
    font-size: 5.5vh;
    color: var(--primario-6, #257A77);
}

.principal .images {
    width: 25vw;
    display: flex;
    justify-content: center;
    margin-top: 8vh;
    margin-bottom: 15vh;
    gap: 4vw;
}

.press {
    display: flex;
    justify-content: center;
    align-items: center;
}

.press img {
    width: 50%;
}

.reviews {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4vh;
    margin: 15vh auto;
    width: 70%;
}

.review {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.review p {
    color: #000;
    text-align: center;
    font-family: Fira Sans;
    font-size: 1.25rem;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
}

.review h4 {
    color: #000;
    text-align: center;
    font-family: Fira Sans;
    font-size: 1.25rem;
    font-weight: bold;
    line-height: normal;
}

.synopsiscont {
    background: var(--primario-6, #257A77);
    margin-top: 6.94rem;
    width: 98.9vw;
    padding: 4.62rem 0;
}

.synopsis{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 4vh;
    align-items: center;
    width: 64.625rem;
    color: #FFF;
}

.synopsis h2{
    font-family: Fira Sans;
    font-size: 2.44125rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.synopsis p{
    text-align: center;
    font-family: Fira Sans;
    font-size: 2.5vh;
    font-style: normal;
    font-weight: lighter;
    line-height: normal;
    letter-spacing: 0.03rem;
    line-height: 1.2;
}

.btncont {
    margin: 15vh auto;
    display: flex;
    justify-content: center;
}

.btncont a {
    text-decoration: none;
}

.btncont span {
    background-color: #F9F9F9;
    width: 8.9375rem;
    height: 3.375rem;
    border: 1px solid #16726F;
    border-radius: 0.9375rem;
    font-family: Fira Sans;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: var(--intermedio, #16726F);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background 0.3s ease, color 0.3s ease;
}

.btncont span:hover {
    background-color: #16726F;
    color: #FFF;
}