* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content { 
    background: #F9F9F9;
}

.entrevista {
    display: flex;
    flex-direction: column;
}

.titulo{
    text-align: center;
    /* font-style: italic; */
    line-height: normal;
    margin-top: 10vh
}

.titulo h2{
    font-weight: 300;
    font-family: Fira Sans;
    font-size: 5.5vh;
    color: var(--primario-6, #257A77);
}

.video {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    margin: 0 auto;
    gap: 1vh;
}

.titulovideo {
    align-self: flex-start;
    font-family: Fira Sans;
    font-size: 1.625rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: var(--primario-7, #164948);
}

.reproductor {
    border-radius: 24px;
    width: 800px;
    height: 450px;
}

.btn {
    margin-top: 5vh;
    cursor: pointer;
}

.btn h4 {
    color: var(--neutro-7, #121212);
    text-align: center;
    font-family: Fira Sans;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.entrevistas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15vh;
    gap: 4vh;
}

.entrevistas a {
    font-family: Fira Sans;
    font-size: 3vh;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    /* text-decoration: none; */
    color: #164948;
}

.galeria {
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.primera {
    display: flex;
    width: 50%;
    gap: 1vw;
}

.primeraizq img {
    height: 50vh;
}

.primeramedio {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    margin: 0 -.3vw;
}

.primeramedio img {
    height: 24.2vh;
    width: 18vw;
    object-fit: fill;
}

.primerader img {
    height: 50vh;
}

.galeria h4 {
    text-align: end;
    font-family: Fira Sans;
}

.segunda {
    display: flex;
    margin-bottom: 40vh;
}

.segunda h4 {
    margin-right: .5vw;
}

.segunda img {
    width: 27vw;
}

.slide-in-right {
    transform: translateX(-100%);
    opacity: 0;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.slide-in-right.active {
    transform: translateX(0);
    opacity: 1;
}

.slide-in-left {
    transform: translateX(100%);
    opacity: 0;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.slide-in-left.active {
    transform: translateX(0);
    opacity: 1;
}

.slide-in-top {
    transform: translateY(-100%);
    opacity: 0;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.slide-in-top.active {
    transform: translateY(0);
    opacity: 1;
}

.slide-in-bottom {
    transform: translateY(100%);
    opacity: 0;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.slide-in-bottom.active {
    transform: translateY(0);
    opacity: 1;
}

.modal {
    display: none;
    height: 100vh;
    width: 100vw;
    background-color: #16726F;
}



@media (max-width: 990px) {

    .reproductor {
        width: 90vw;
        height: 30vh;
    }

    .entrevistas {
        align-items: flex-start;
    }

    .galeria .primera {
        flex-direction: column;
        margin: 0 auto;
        align-items: center;
    }

    .slide-in-left,
    .slide-in-right,
    .slide-in-top,
    .slide-in-bottom {
        transform: none;
        transition: none;
    }

    .galeria .primera .primeramedio img {
        width: 60vw;
        height: auto;
    }

    .segunda {
        flex-direction: column;
        gap: 4vh;
    }

    .segunda img {
        width: 60vw;
        height: auto;
    }
}


